

footer{
  margin-top: 100px;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.adresse{
  color: #ffffff;
  margin-top: 0px;
  background: conic-gradient(from 45deg, red, orange, yellow, green, blue, purple);
  /* background: linear-gradient(to right, rgb(56, 247, 135), rgba(197, 103, 49, 0.986)); */
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
}

.line{
    background:
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(0, 255, 221, 0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0, 0, 255, 0) 70.71%);
   height: 8px;
   margin: auto;
   /* margin-bottom: 5px; */
   margin-top: 10px;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(231, 210, 210, 0.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 5em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}


.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out 5s;
       -moz-transition: 2s all ease-in-out 5s; 
        -ms-transition: 2s all ease-in-out 5s; 
         -o-transition: 2s all ease-in-out 5s; 
            transition: 2s all ease-in-out 5s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out 5s;
       -moz-transition: 2s all ease-in-out 5s; 
        -ms-transition: 2s all ease-in-out 5s; 
         -o-transition: 2s all ease-in-out 5s; 
            transition: 2s all ease-in-out 5s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .2;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7,
.fade-carousel .slides .slide-8,
.fade-carousel .slides .slide-9,
.fade-carousel .slides .slide-10,
.fade-carousel .slides .slide-11,
.fade-carousel .slides .slide-12 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../images/img_5.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/img_bg_2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/mauritanie/ouad.jpg);
}
.fade-carousel .slides .slide-4 {
  background-image: url(../images/mauritanie/1.jpeg);
}
.fade-carousel .slides .slide-5 {
  background-image: url(../images/mauritanie/zir.jpg);
}
.fade-carousel .slides .slide-6 {
  background-image: url(../images/mauritanie/bgg.PNG);
}
.fade-carousel .slides .slide-7 {
  background-image: url(../images/moheli/m_4.png);
}
.fade-carousel .slides .slide-8 {
  background-image: url(../images/moheli/Parc-Marin-Mayotte-Parc-Marin-580x434.jpg);
}
.fade-carousel .slides .slide-9 {
  background-image: url(../images/anjouan/a_7.jpg);
}
.fade-carousel .slides .slide-10 {
  background-image: url(../images/anjouan/a_3.jpg);
}
.fade-carousel .slides .slide-11 {
  background-image: url(../images/anjouan/a_33.png);
}
.fade-carousel .slides .slide-12 {
  background-image: url(../images/anjouan/Capture\ d’écran\ du\ 2019-09-06\ 17-33-28.png);
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { 
      width: 980px; 
    }    
}
@media screen and (max-width: 640px){
    .hero h1 { 
      font-size: 4em; 
    }    
}

@media(max-width : 240px){
   .hero { 
      width: 230px; 
      margin-top: 30px;
    } 
  .hero h1 { 
      font-size: 20px; 
    }
    .hero h3 { 
      font-size: 14px; 
    }
  .adresse{
    font-size: 8px;
  }
  .bloc-info{
    width: 100px;
    margin-left: 5px;
    font-size: 10px;
  }
  .bloc-info h1{
    font-size: 15px;
  }
  .infos{
    
  
  }
}
@media(max-width : 480px){
   .hero { 
      width: 460px; 
      margin-top: 30px;
    } 
  .hero h1 { 
      font-size: 25px; 
    }
    .hero h3 { 
      font-size: 16px; 
    }
  .adresse{
    font-size: 10px;
  }
  .bloc-info h1{
    font-size: 20px;
  }
  .bloc-info{
  width: 100px;
  /* z-index: 4; */
  /* margin-top: 30px; */
  margin-left: 5px;
  font-size: 10px;
  /* height: 50px; */
  }
  .infos{
  height: 100px;
  /* margin-bottom: 20px; */
  background-size: 100%;
  
}

}

@media (max-width : 800px){
  .hero { 
    width: 460px; 
    margin-top: 30px;
  } 
  .hero h1 { 
    font-size: 25px; 
  }
  .hero h3 { 
    font-size: 16px; 
  }
  .adresse{
    font-size: 10px;
  }
  .infos{
    height: 1000px;
  }
  .bloc-info{
    height: 200px;
    width: 100px;
  }

}

.infos{
  height: 600px;
  background-image: url(../images/mauritanie/sou.jpg);
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(44, 24, 2, 0.226);
  position: relative;
  background-size: 100%;
  
}

.bloc-info{
  display: block;
  width: 400px;
  /* position: relative; */
  /* overflow: hidden; */
  /* z-index: 9; */
  margin-top: 60px;
  margin-left: 30px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  color: #f5f5f5;
  transition: 0.3s;
  text-align: center;
  border-bottom: solid 10px #1fb31a;
  /* height: 400px; */
}

.ligne-footer{
   width: 400px;
   background:
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0, 32, 0, 0.89), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   height: 5px;
   margin: auto;
   margin-bottom: 15px;

}
.package{
  height: 700px;
}

.package, .ile{
  margin-top: 30px;
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.package:hover, .ile:hover{
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}
.ile h1{
  font-size: 25px;
  font-weight: bold;
  color: #1abc9c;
}

.package, .ile p{
  /* font-size: 30px; */
  font-weight: bold;
  color: #000000;
}
.barre{
   /* width: 200px; */
   background:
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0, 32, 0, 0.89), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   height: 1px;
   margin: auto;
   margin-top: 15px;
}

.jaune{
  color: #f39c12;
}
.package h3{
  color: #1abc9c;
  font-weight: bold;
}

.img-expe{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.ligne-separe-footer{
   width: 150px;
   background:
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255, 0, 0, 0.445) 70.71%),
    linear-gradient(127deg, rgba(0, 32, 0, 0.89), rgba(0, 255, 0, 0.356) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0, 0, 255, 0.438) 70.71%);
   height: 3px;
   margin: auto;
   margin-bottom: 20px;
}
.propos{
  font-size: 15px;
  font-weight: bold;
}
footer{
  background:
    linear-gradient(217deg, rgba(0, 68, 255, 0.8), rgba(53, 2, 2, 0.445) 70.71%),
    linear-gradient(127deg, rgba(169, 206, 169, 0.89), rgba(217, 0, 255, 0.356) 70.71%),
    linear-gradient(336deg, #1abc9c, rgba(92, 92, 233, 0.438) 70.71%);

  padding-top: 50px;
}

.photo-ile{
  height: 300px;
  width: 300px;
}
.ile .separe{
  height: 50px;
  margin-top: 20px;
}
.modal-dialog{
  width: 800px;
  height: 500px;
}